<ion-header [translucent]="true">
 <app-toolbar title="Bank Accounts"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list>
   <ion-item details="true" href="/bank-accounts/savings">
     <ion-icon name="cash-outline" size="large"></ion-icon>
     <ion-label>Savings Account</ion-label>
   </ion-item>
   <ion-item details="true" href="/bank-accounts/checking">
     <ion-icon name="wallet-outline" size="large"></ion-icon>
     <ion-label>Checking Account</ion-label>
   </ion-item>
 </ion-list>
</ion-content>
