@if(entry){
<ion-item>
  @if(entry.type === LedgerType.CREDIT){
  <ion-icon slot="start" color="primary" name="trending-up-outline"></ion-icon>
  }@else{
    <ion-icon slot="start" color="danger" name="trending-down-outline"></ion-icon>
  }
  <ion-label>
    <h1>
      {{entry.amount}}
    </h1>
    <h2>
      Current Balance {{entry.balance}}
    </h2>
    <p>
      {{entry.description}}
    </p>
  </ion-label>
  <ion-note slot="end">{{entry.date.toISOString()}}</ion-note>
</ion-item>
} @else {
  <ion-note>No Data to Display</ion-note>

}
