<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>{{title}}</ion-title>
  @if(showMenu){
  <ion-buttons slot="end">
    <ion-button id="click-trigger">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  }
</ion-toolbar>

<ion-popover trigger="click-trigger" triggerAction="click" [isOpen]="isOpen" (didDismiss)="isOpen = false" >
  <ng-template>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item button="true" detail="false" lines="full" (click)="goToAddNewMonth()">
<!--          <ion-icon size="small" name="add-circle-outline"></ion-icon>-->
          <ion-label>New Month</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
