<ion-header [translucent]="true">
  <app-toolbar title="Add New Month"></app-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-select label="Month" labelPlacement="floating" placeholder="Month" formControlName="month">
          @for (month of monthLabels; track month) {
            <ion-select-option [value]="$index">{{ month }}</ion-select-option>
          }
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Year" labelPlacement="floating" type="number" formControlName="year"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <app-form-toolbar-buttons (save)="onSave()" (cancel)="onCancel()" [saveEnabled]="form.valid"></app-form-toolbar-buttons>
</ion-footer>
