<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    @for (year of getHistoryYears(); track year) {
      <ion-item-group>
        <ion-item-divider>
          <ion-label>{{ year }}</ion-label>
        </ion-item-divider>
        @for (month of getMonths(year); track month) {
          <ion-item button="true" detail="true" (click)="goToDetails(year, month)">
            <ion-label>{{month}}</ion-label>
          </ion-item>
        }
      </ion-item-group>
    } @empty {
      <ion-note>Do Data Available</ion-note>
    }
  </ion-list>
</ion-content>
